{% extends "frontend/main.html" %}

{% block script%}
<script type="text/javascript" src="{{url_for('.static', filename='js/app.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/dropzone.js')}}"></script>
{% endblock %}

{% block meta %}
<meta id="enqueueUrl"  enqueueurl="{{url_for('api.enqueue')}}">
<meta id="loadingLine" loadingline="{{loadingLine}}">
<meta id="loadedLine"  loadedline="{{loadedLine}}">
{% endblock %}

{% block app %}
<div class="app-background">
    <!--  files view  -->
    <div id="dragzone">
        Drop image or click here!
    </div>
    <!--  progress view  -->
    <div id="uploadProgressView" style="display:none;">
        <h2 id="uploadProgressViewLabel">uploading lerk...</h2>
        <div style="text-align: center; margin-bottom: 25px;">
            <div id="loader" style="display: inline-block"></div>
        </div>
    </div>
    <!--  results view  -->
    <div id="resultsView" style="display:none;">
        <h2 id="resultsViewLabel"></h2>
        <img id="resultImg" src="" style="width:512px"/>
        <br><br>
        <a class="btn" onclick="toggleView('default');">TAKE ANOTHER?</a>
    </div>
</div>
{% endblock %}

{% block endscript%}
<script>
init();
</script>
{% endblock %}