body { 
    margin:0;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #bc4e9c;
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav content content";
    grid-template-columns: 150px 1fr 200px;
    grid-template-rows: auto 1fr;
    grid-gap: 0px;
    height: 100vh;
}


header {
    height: 65px;
    padding-bottom: 10px;padding-top: 10px;
    grid-area: header;
    display: grid;
    grid-template-columns: 25px auto 1fr auto 25px;
    background: #bc4e9c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bc4e9c, #f80759); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bc4e9c, #f80759); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-transform: uppercase;
    text-shadow: 0 2px black, 0 3px #777;
    align-self: center;
}
.logo {
    grid-column: 2;
    align-self: center;
}
.logo a {
    font-family: 'Staatliches', sans-serif; 
    color: white;
    text-decoration: none;
    margin: 1em 0 0.5em 0;
	font-weight: normal;
    font-size: 36px;
}
.branding {
    font-family: 'Oswald', sans-serif; 
    color: white;
    grid-column: 4;
    align-self: center;
    font-size: 12px;
}

nav {
    grid-area: nav;
    background: #f7f7f7 ; 
    padding-top: 25px;  
    padding-left: 25px;
    padding-bottom: 25px;  
}
nav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
nav a:hover {
    color: #1f1f1f;
}
.footer {
    padding: 25px;
    background: #e1e1e1;
    font-size: 12px;
    color: #969696;
    text-align: center;
}

@media only screen and (max-width: 512px) {
    .branding {
        grid-column: 2;
    }
}

main {
    grid-area: content;
    padding: 25px;
}
h2 {
    margin: 1em 0 0.5em 0;
	color: #343434;
    font-weight: normal;
    font-style: italic;
	font-family: 'Staatliches', sans-serif;   
	font-size: 36px;
    text-transform: uppercase;
}

footer {
    grid-area: footer;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows:
        auto /* Header */
        auto /* Nav */
        1fr /* Content */
        minmax(75px, auto) /* Sidebar */
        auto; /* Footer */
    }
    nav, aside {
        margin: 0;
    }
}

.panel {
    background: #ebebeb;
    padding: 15px;
}

.btn {
    background-color: #bc4e9c;
    color: white;
    padding: 15px;
}
.btn:hover {
    background-color: #80346a;
}