body { 
margin:0;
font-family: "Oswald", Helvetica, Arial, sans-serif
}
#content {
padding: 10px;
margin-top: 25px;
}
#footer {
width: 100%;
padding: 50px;
background: #f5f5f5;
}
.marginal {
margin: 25px;
}