body { 
margin:0;
font-family: "Oswald", Helvetica, Arial, sans-serif
}
#content {
padding: 10px;
margin-top: 25px;
}
#footer {
width: 100%;
padding: 50px;
background: #f5f5f5;
}
.marginal {
margin: 25px;
}
#dragnavbar {
background: #bc4e9c; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #bc4e9c, #f80759); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #bc4e9c, #f80759); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}