{% extends "frontend/main.html" %}

{% block script%}
<script type="text/javascript" src="{{url_for('static', filename='js/app_1_0.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/dropzone.js')}}"></script>
{% endblock %}

{% block app %}

<div id="messagePanel" class="message-panel" onclick="this.style.display='none';"></div>

<div class="app-background">
    <!--  files view  -->
    <div id="dragzone">
        Drop image or click here!
    </div>
    <!--  progress view  -->
    <div id="uploadProgressView" style="display:none;">
        <h2 id="uploadProgressViewLabel">uploading lerk...</h2>
        <div style="text-align: center; margin-bottom: 25px;">
            <div id="loader" style="display: inline-block"></div>
        </div>
    </div>
    <!--  results view  -->
    <div id="resultsView" style="display:none;">
        <h2 id="resultsViewLabel"></h2>
        <div>
            <img id="resultImg" src="" width="512px" style="display:block; width:100%; max-width:512px"/>
        </div>
        <div style="padding: 35px 0px 25px 0px">
            <a class="btn" onclick="toggleView('default');">TAKE ANOTHER</a>
        </div>
        <div style="padding: 0px 0px 25px 0px">
            <a class="btn" id="uploadBtn">UPLOAD TO GALLERY</a> 
        </div>
    </div>
</div>
{% endblock %}

{% block endscript%}
<script>
init("{{ url_for('.get_quip', quiptype='') }}",
     "{{url_for('api.enqueue')}}",
     "{{url_for('api.save_to_gallery', img_id='')}}",
    );
</script>
{% endblock %}