{% extends "frontend/base.html" %}

{% block script%}
<script type="text/javascript" src="{{url_for('static', filename='frontend/js/upload.js')}}"></script>
{% endblock %}

{% block endscript%}
<script>
setUpFileForm();
</script>
{% endblock %}

{% block content %}
<div>

<h1>{{branding_tagline}}</h1>
tldr; input a look (🧔) and we'll give you a <i>lerk</i> (👸)
<br>
<div class="fileform">
    <div id="uploadProgress" style="display:none;">
        <h2>uploading lerk...</h2>
        <div style="text-align: center; margin-bottom: 25px;">
            <div id="loader" style="display: inline-block"></div>
        </div>
    </div>
    <form id="files" method="post" enctype="multipart/form-data"  style="display:inline-block;">
        <input type="file" name="file" id="fileChooser"/>
        <button>Submit</button>
    </form>
</div>
<b>Tips:</b>
<ul>
    <li>Look directly at the camera</li>
    <li>Keep the lighting neutral and don't use any filters (e.g. black and white)</li>
</ul>
{% include 'frontend/about.html' %}
{% include 'frontend/gallery.html' %}
{% include 'frontend/footer_stuff.html' %}
</div>
<div height="225"></div>
{% endblock %}