{% extends "base.html" %}

{% block script%}
{% endblock %}

{% block content %}
<div>
<h2>What is DragNet?</h2>
<p>This is style-transfer machine learning model. I curated a dataset of about a thousand high-quality images (each) of drag queens and selfies, used <a href="https://github.com/ZhaoJ9014/face.evoLVe.PyTorch">face.evoLVe</a> to crop out the face, and trained <a href="https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix">cycleGAN</a> to translate between them.</p>
<p>Put simply, this wep app puts you in drag.</p>
<div style="display:inline-block;">
    <img src="{{url_for('static', filename='imgs/kit.jpg')}}" width="200" height="266">
</div>
<div style="display:inline-block;">
    <img src="{{url_for('static', filename='imgs/drag.jpg')}}" width="200" height="266">
</div>
<p>I am writing up a post about the process, which you can read at my <a href="https://jeremyafisher.com">blog</a>.</p>
<p>Curious about the weights and biases? I'll email them to you. Email me at <a href="mailto:jeremy@adamsfisher.me">jeremy@adamsfisher.me</a></p>
<h2>Credits</h2>
<p>
Neurons from <a href="https://junyanz.github.io/CycleGAN/">cycleGAN</a> and <a href="https://github.com/ZhaoJ9014/face.evoLVe.PyTorch">face.evoLVe</a>. Data from <a href="https://www.kaggle.com/rahulbhalley/selfies#032a49b6bffb11e3b9ca0002c9dbcd18_6.jpg">kaggle</a> and drag queen images scraped from google. Helen Burns came up with the tag-line. Zach Fisher is just generally indispensible for everything I do.
</p>
<h2>Code</h2>
<p>
Written by me, Jeremy Fisher. Source code available <a href="https://github.com/jeremyadamsfisher/dragnet">here</a>.
</p>
</div>
{% endblock %}