<h1>What is DragNet?</h1>
<p>This is a style-transfer machine learning model. I curated a dataset of about a thousand high-quality images (each) of drag queens and selfies, used <a href="https://github.com/ZhaoJ9014/face.evoLVe.PyTorch">face.evoLVe</a> to crop out the face, and trained <a href="https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix">cycleGAN</a> to translate between them.</p>
<p>Put simply, this wep app puts you in drag.</p>
<p>I am writing up a post about the process, which you can read at my <a href="https://jeremyafisher.com">blog</a>.</p>
<p>Curious about the weights and biases? I'll email them to you. Email me at <a href="mailto:jeremy@adamsfisher.me">jeremy@adamsfisher.me</a></p>