{% extends "base.html" %}
{% set active_page = "app" %}

{% block content %}
<div>
    <h3><i class="fa fa-camera"></i> Input a look and we'll give you a <i>lerk</i></h3>
    <form action = "{{ url_for('result') }}" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" value="Upload">  
    </form>
    <h3>Tips</h3>
    <ul>
        <li>Look directly at the camera</li>
        <li>Keep the lighting neutral and don't use any filters (e.g. black and white)</li>
        <li>Keep it as a png or a jpg</li>
    </ul>
    <p>Btw, although your likeness is trasmitted to my server, <i>I do not keep a record of it</i>.</p>
</div>
{% endblock %}