<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>dragnet - style transfer for drag queens</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto|Staatliches&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_1_1.css') }}">
  </head>
  <body>
      <div class="container">
          <header>
          <div class="logo"><a href="#">dragnet</a></div>
          <div class="branding">style transfer for drag queens (gan I get an amen?)</div>
          </header>
        
          <nav>
          
          </nav>
        
          <main>
              {% block content %}{% endblock %}
          </main>
        
          <aside>
            <!-- Sidebar / Ads -->
          </aside>
        
          <footer>
            <!-- Footer content -->
          </footer>
        </div>
    </div>
  </body>
</html>