<h1>Credits</h1>
<p>
Neurons from <a href="https://junyanz.github.io/CycleGAN/">cycleGAN</a> and <a href="https://github.com/ZhaoJ9014/face.evoLVe.PyTorch">face.evoLVe</a>. Data from <a href="https://www.kaggle.com/rahulbhalley/selfies#032a49b6bffb11e3b9ca0002c9dbcd18_6.jpg">kaggle</a> and drag queen images scraped from google. Helen Burns came up with the tag-line. Zach Fisher is just generally indispensible for everything I do.
</p>
<h1>Code</h1>
<p>
Written by me, Jeremy Fisher. Source code available <a href="https://github.com/jeremyadamsfisher/dragnet">here</a>.
</p>