{% extends "base.html" %}

{% block script%}
$(document).ready(function(){
    /* https://stackoverflow.com/questions/10333971/html5-pre-resize-images-before-uploading */

    $("form#files").submit(function(e) {
        e.preventDefault();


        var filesToUpload = document.getElementById("fileChooser").files;
        var file = filesToUpload[0];

        console.log(JSON.stringify(file));

        var canvas = document.createElement("canvas");

        var img = document.createElement("img");
        var reader = new FileReader();  
        reader.onload = function(e) {img.src = e.target.result}
        reader.readAsDataURL(file);

        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

        var MAX_WIDTH = 800;
        var MAX_HEIGHT = 600;
        var width = img.width;
        var height = img.height;

        if (width > height) {
        if (width > MAX_WIDTH) {
            height *= MAX_WIDTH / width;
            width = MAX_WIDTH;
        }
        } else {
        if (height > MAX_HEIGHT) {
            width *= MAX_HEIGHT / height;
            height = MAX_HEIGHT;
        }
        }
        canvas.width = width;
        canvas.height = height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height);

        var dataurl = canvas.toDataURL("image/png");








        let formField = document.getElementById("files");
        let progress = document.getElementById("uploadProgress");
        setTimeout(function(){
            formField.style.display = "none";
            progress.style.display = "inline-block";
        }, 1000)

        let formData = new FormData(this);
        $.ajax({
            url: "{{ url_for('enqueue') }}",
            type: 'POST',
            data: formData,
            success: function (data) {
                setTimeout(function(){
                    window.location.replace(data.result_page);
                }, 5000);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
}); 
{% endblock %}

{% block content %}
<div>

<h1>{{branding_tagline}}</h1>
tldr; input a look (🧔) and we'll give you a <i>lerk</i> (👸)
<br>
<div class="fileform">
    <div id="uploadProgress" style="display:none;">
        <h2>uploading lerk...</h2>
        <div style="text-align: center; margin-bottom: 25px;">
            <div id="loader" style="display: inline-block"></div>
        </div>
    </div>
    <form id="files" method="post" enctype="multipart/form-data"  style="display:inline-block;">
        <input type="file" name="file" id="fileChooser"/>
        <button>Submit</button>
    </form>
</div>
<b>Tips:</b>
<ul>
    <li>Look directly at the camera</li>
    <li>Keep the lighting neutral and don't use any filters (e.g. black and white)</li>
</ul>
{% include 'about.html' %}
{% include 'gallery.html' %}
{% include 'footer_stuff.html' %}
</div>
<div style="height: 225px;"></div>
{% endblock %}