{% extends "base.html" %}

{% block content %}
<div>
    <h3><i class="fa fa-camera"></i> Input a look, and we'll give you a <i>lerk</i></h3>
    <form action = "{{ url_for('success') }}" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" value="Upload">  
    </form>
    <h5>Tips</h5>
    <ul>
        <li>Look directly at the camera</li>
        <li>Keep the lighting neutral and don't use any filters (e.g. black and white)</li>
        <li>I accept pngs and jpgs</li>
        <li>Glasses don't usually work well (but sometimes they're hilarious)</li>
    </ul>
    <p>Although your likeness is trasmitted to my server, <i>I do not keep a record of it</i>.</p>
</div>
{% endblock %}