{% extends "base.html" %}

{% block script%}
$(document).ready(function(){
    $("form#files").submit(function(e) {
        e.preventDefault();

        var formField = document.getElementById("files");
        formField.style.display = "none";
        var progress = document.getElementById("uploadProgress");
        formField.style.display = "inline-block";

        var formData = new FormData(this);
        $.ajax({
            url: "{{ url_for('enqueue') }}",
            type: 'POST',
            data: formData,
            success: function (data) {
                setTimeout(function(){
                    window.location.replace(data.result_page);
                }, 5000);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
}); 
{% endblock %}

{% block content %}
<div>

<h1>{{branding_tagline}}</h1>
tldr; input a look (🧔) and we'll give you a <i>lerk</i> (👸)
<br>
<div class="fileform">
    <h2 id="uploadProgress" style="display:none;">still shantaying...</h2>
    <form id="files" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button>Submit</button>
    </form>
</div>
<b>Tips:</b>
<ul>
    <li>Look directly at the camera</li>
    <li>Keep the lighting neutral and don't use any filters (e.g. black and white)</li>
</ul>
{% include 'about.html' %}
{% include 'gallery.html' %}
{% include 'footer_stuff.html' %}
</div>
<div style="height: 225px;"></div>
{% endblock %}